<mat-toolbar  color="primary" >
    <span><mat-icon>eco</mat-icon> Online Class Management</span>
    <div class="space"></div>
    <a mat-button><mat-icon >home</mat-icon>Home</a>
    <a mat-button><mat-icon>arrow_drop_down</mat-icon>Services</a>
    <a mat-button><mat-icon>arrow_downward</mat-icon>Download</a>
    <a mat-button><mat-icon>info</mat-icon> About us</a>
    <a mat-raised-button routerLink="signup"><mat-icon>account_circle</mat-icon> Signup</a>
    <a mat-raised-button color="accent" routerLink='login'><mat-icon>login</mat-icon>Login</a>
    
     
</mat-toolbar>

<router-outlet>
</router-outlet>
 