<body>
   

 <mat-toolbar class="navbar" >
    <span><mat-icon>eco</mat-icon> Online Class Management</span>
    <div class="space"></div>
    <a mat-button routerLink='home'><mat-icon >home</mat-icon>Home</a>
    <a mat-button><mat-icon>arrow_drop_down</mat-icon>Services</a>
    <a mat-button><mat-icon>arrow_downward</mat-icon>Download</a>
    <a mat-button><mat-icon>info</mat-icon> About us</a>
    
    <a mat-raised-button color="accent" routerLink='login'><mat-icon>login</mat-icon>Login</a>
    
     
 </mat-toolbar >
 <div class="top-alert">
    <marquee behavior="scroll" scrollamount="2" direction="left" onmouseover="this.stop();" onmouseout="this.start();" style="height: 30px;">
    <span>Help Line No. : (09:30 am-05:30 pm) 8959339210,9630570057 &nbsp;&nbsp;&nbsp;&nbsp;or Help &amp; Support : </span><span>Email ID: sonukumbhkar32gmail.com,vivekvishwakarma95@gmail.com &nbsp; &nbsp; </span>
  </marquee>
     </div>
    

   </body>
  
<router-outlet >
    
</router-outlet>
 