
  <div  class='main-div' >
      
    <mat-card class="box" >
     <mat-label class="login">Login</mat-label>
         
        <form >
              <input matInput type="text" class="username" placeholder="Username" >
              
                        <input class="password" placeholder="Password" type="text" matInput [type]="hide ? 'password' : 'text'">
                        
                       
             
                       <input name="" class="submit" placeholder="Login" type="submit">
               

          </form>
          
    
          

          <a  mat-button class='mat-form-field' (click)="openSnackBar()">New user register here</a>
          
    </mat-card>
  


</div>

