.main-div
{   padding-top: 20px;
    padding-inline-start:500px;
    box-shadow:rgb(12, 12, 12) ;
}
.login{
  font-size: 30px;
  border-bottom: solid green;
   padding-left: 50px;
  
}
.username , .password {
  padding: 50px,50px,50px,50px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 200px;
}

.box {
  
   width: 100%;
  -ms-flex-align: center;
  
  
  padding: 60px 50px 60px 50px;
  
  background: rgb(252, 230, 248);
  border-radius: 5px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 300px;
  
}
.mat-form-field {
  margin-right: 8px;
  
  text-align: center;
  position: center;
  
}
.login-form{
 padding-top: 30px;
 padding-bottom: 30px;

}
.loginbutton{
  position:relative;
    
}

