<div  class='main-div' >
      
    <mat-card class="box" >
    
      <mat-card-title >Login</mat-card-title>
         
        
        <form  class="login-form">
            <mat-form-field  >
              <mat-label>Username</mat-label>
              <input matInput  placeholder="Username" >
            </mat-form-field>
          
            <mat-form-field  >
                <mat-label>Password</mat-label>
                
                <input matInput type="password" placeholder="password"  >
            </mat-form-field>
            
              <button mat-raised-button color='red' type="submit">Login</button>
            
          </form>
          
    </mat-card>
    
    

    


</div>